{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
   <p></p> FlaskBlog is an intuitive blogging platform that has been
built using flask framework from scratch. It allows creators to
get started into the world of blogging and let the world know
of what they have been keen upon.

The blog has been curated like a social media platform, allowing
the readers to like, share and comment as they please.

The project has been developed under the guidance of python Team lead,
Mr.Tapan Parmar and Co-founder and director, Mr. Dharmesh Patel at
Inexture Solutions LLP by the Student interns of ICT, Ganpat University.</p>

&nbsp &nbsp <div class="row">
    <div class="content-section">
    <br>
                   <div class="media">
                        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/inexture.jpg') }}">

                    </div>
                        <br>
                        <br>
                    <div class="media-body">
                        <ul class="list-group">
                          <a href="http://www.inexture.com">  <li class="list-group-item list-group-item-light">www.inexture.com</li></a>
                            <li class="list-group-item list-group-item-light">sales@inexture.com</li>
                            <li class="list-group-item list-group-item-light">  +91 63 522 49031</li>

                        </ul>
                    </div>

    </div>
</div>
<p>

</p>
    <br>
    <h5>Creators</h5>
    <br>


<div class="row">
    <div class="content-section">
    <br>
                    <div class="media">
                        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/98c503badc1b6033.jpg') }}">

                    </div>
                        <br>
                        <br>
                    <div class="media-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Meet Vaghasia</li>
                            <li class="list-group-item list-group-item-light">meet.bda1729@ict.gnu.ac.in</li>
                        </ul>
                    </div>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="content-section">
<br>
                    <div class="media">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='profile_pics/7f26f56e1408a4f8.jpg') }}">

                    </div>
                        <br>
                        <br><br><br>
                    <div class="media-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Dixit Kasodariya</li>
                            <li class="list-group-item list-group-item-light">dixit.bda1710@ict.gnu.ac.in</li>
                        </ul>
                    </div>


    </div>


</div>
{% endblock content %}
